*
{
  transition: .3s;
}
.mailField
{
  background-color: #666;
  position: relative;
}
.mailField-sector
{
  border: 1px dotted lightblue;
  background: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  padding-top: 5px;
  position: absolute;
  cursor: pointer;
}
.mailField-sector:hover
{
  background: darkslateblue;
  color:#fff;
}